<h2>Registered users</h2>
<div class="table-responsive">
  <table class="records table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Admin</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%# user.isadmin %></td>
          <td>
          </td>
          <td>
          </td>
          <td>
        </td>
        </tr>
      <% end %>
        <tr>
            <td colspan="7">
                <%= paginate @users %>
            </td>
        </tr>
    </tbody>
  </table>
</div>
<br>
